In [ ]:
import numpy as np

In [17]:
my_list = [1,2,3,4,5,6]
arr = np.array(my_list)

In [23]:
arr = np.array([my_list,my_list,[1,2,3]])

<ipython-input-23-422cda8beaa8>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr = np.array([my_list,my_list,[1,2,3]])

In [26]:
arr

array([list([1, 2, 3, 4, 5, 6]), list([1, 2, 3, 4, 5, 6]),
       list([1, 2, 3])], dtype=object)

In [9]:
arr.shape

(3, 5)